body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 50px;
}

.gallery-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.gallery-container img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    margin-top: 20px;
}


